
html {
  background: #586F7C;
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Manrope', sans-serif;
}

.content {
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  background: #B8DBD9;
  padding: 30px;
}

.aligner {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 90%;
}

.center {
  text-align: center;
}

h1 {
  color: #B8DBD9;
}

h3,
h5 {
  color: #586F7C
}

hr {
  border-color: #B8DBD9;
  margin-left: 30px;
}

/* Home page styling */
#greeting-container {
  margin-top: 20px;
}

/* Nav bar styling */
.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  background: #B8DBD9;

.nav-bar li {
  display: inline;

  padding: 20px 16px;
}

.nav-bar a {
  color: #2B4570;
  text-decoration: none;
}

.nav-bar a:hover {
  color: #9AA8B0;
}

/* Gallery styling */
img {
  border: 2px solid #465863;
}
  
#gallery-text {
  margin-top: 20px;
  margin-bottom: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
}

.column {
  flex: 22%;
  max-width: 22%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .column {
    flex: 45%;
    max-width: 45%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 90%;
    max-width: 90%;
  }
}

