html {
  background: #586F7C;
  height: 100%;
}

body {
  height: 100%;
}

.content {
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  background: #B8DBD9;
  padding: 30px;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* Home page styling */

#greeting-container {
  margin-top: 20px;
}

/* Nav bar styling */

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  background: #E49273;
}

.nav-bar li {
  display: inline;
  padding: 20px 16px;
}

.nav-bar a {
  color: #2B4570;
  text-decoration: none;
}

/* Gallery styling */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
}

.column {
  flex: 22%;
  max-width: 22%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .column {
    flex: 45%;
    max-width: 45%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 90%;
    max-width: 90%;
  }
}